#min-height {
    min-height: 520px;
}
.categories-filter{
    font-weight: normal;
}
.checkbox-inline{
    position: absolute;
    left: -999px;
}
.checkbox-inline:checked + .categories-filter {
    background-color: #28a4c9;
}
.checkbox-inline + .categories-filter {
    background-color: lightgrey;
}
select[multiple]{
    height: 100%;
    width: 100%;
}
.required-field, .color-red{
    color: red;
}
#publish-ad-img{
    height: 220px;
}
.loading-animation{
    z-index: 9999;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
}