<!DOCTYPE html>
<html ng-app="app">
<head lang="en">
    <meta charset="UTF-8">
    <title>Ads</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/bootstrap.css.map">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div class="navbar navbar-default" ng-controller="NavBarController">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#/">Ads</a>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <span ng-if="!user" ng-include="'/templates/navBars/default-navbar.html'"></span>
        <span ng-if="user && !user.isAdmin" ng-include="'/templates/navBars/user-navbar.html'"></span>
        <span ng-if="user && user.isAdmin" ng-include="'/templates/navBars/admin-navbar.html'"></span>
    </div>
</div>
<img data-loading-animation class="center-block loading-animation" src="http://chimplyimage.appspot.com/images/samples/classic-spinner/indicator.gif" />
<div id="min-height" class="container" ng-view="">

</div>

<hr />
<footer class="text-center" ng-cloak>
    <small><strong>Author:</strong> <a href="https://github.com/ivailozd" target="_blank">Ivailo Dimov</a></small>
    <br />
    <small><strong><a href="https://github.com/ivailozd/Ads-System" target="_blank">Course Project</a> powered by:</strong> <a href="http://angularjs.org/" target="_blank">AngularJS</a> and <a href="http://getbootstrap.com/" target="_blank">Twitter Bootstrap</a></small>
</footer>
<hr />

<script src="libs/angular/angular.js"></script>
<script src="libs/angular/angular-route.js"></script>
<script src="libs/angular/angular-file-upload.js"></script>
<script src="libs/jquery-2.1.3.js"></script>
<script src="libs/bootstrap.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/HomeController.js"></script>
<script src="js/controllers/LoginController.js"></script>
<script src="js/controllers/NavBarController.js"></script>
<script src="js/controllers/RegisterController.js"></script>
<script src="js/controllers/user/PublishAdController.js"></script>
<script src="js/controllers/user/UserAdsController.js"></script>
<script src="js/controllers/user/EditAdController.js"></script>
<script src="js/controllers/user/EditUserProfileController.js"></script>
<script src="js/controllers/admin/AdminHomeController.js"></script>
<script src="js/controllers/admin/AdminUsersController.js"></script>
<script src="js/controllers/admin/AdminCategoriesController.js"></script>
<script src="js/services/dataFactory.js"></script>
<script src="js/services/authFactory.js"></script>
<script src="js/services/userFactory.js"></script>
<script src="js/services/adminAdsFactory.js"></script>
<script src="js/services/adminUsersFactory.js"></script>
<script src="js/services/adminCategoriesFactory.js"></script>
<script src="js/services/createDialog.js"></script>
<script src="js/directives/loadingAnimation.js"></script>
<script src="js/directives/fallBackSrc.js"></script>
<script src="js/directives/passwordMatch.js"></script>
<script src="js/directives/paging.js"></script>
<script src="js/directives/scrollup.js"></script>
</body>
</html>