<div class="row">
    <div class="col-md-8" ng-repeat="ad in allAds.ads">
        <h3><strong>{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date}}</span></h3>
        <div class="col-md-3">
            <img class="img-thumbnail pull-left" fallback-src="images/no_image.gif" src="{{ ad.imageDataUrl }}">
        </div>
        <div class="col-md-5">
            {{ ad.text }}
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Name: </strong> <span class="pull-right">{{ ad.ownerName }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Name: </strong> <span class="pull-right">{{ ad.ownerEmail }}</span>
                </li>
                <li class="list-group-item">
                    <strong>Name: </strong> <span class="pull-right">{{ ad.ownerPhone }}</span>
                </li>
            </ul>
        </div>
    </div>
</div>