<div ng-click="closeMessage()" ng-show="successMessage" class="alert alert-dismissable alert-success text-center">
    {{ successMessage }}
</div>
<div class="row">
    <div class="col-md-9" >
        <div class="row">
            <div class="col-lg-12" ng-repeat="ad in allAds.ads">
                <hr />
                <h3><strong>{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date}}</span></h3>
                <div class="col-md-3">
                    <img class="img-thumbnail pull-left" fallback-src="images/no_image.gif" src="{{ ad.imageDataUrl }}">
                </div>
                <div class="col-md-5">
                    {{ ad.text }}
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Name: </strong> <span class="pull-right">{{ ad.ownerName }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Email: </strong> <span class="pull-right">{{ ad.ownerEmail }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Phone: </strong> <span class="pull-right">{{ ad.ownerPhone }}</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <div class="list-group">
                <h3 class="text-center"><strong>Categories</strong></h3>
                <div>
                    <select multiple>
                        <option class="list-group-item" ng-click="getAllCategories()">All categories</option>
                        <option class="list-group-item" ng-repeat="cat in categories" ng-click="getCategoryId(cat.id)">{{ cat.name }}</option>
                    </select>
                </div>
            </div>
        </div>
        <div>
            <div class="list-group">
                <h3 class="text-center"><strong>Towns</strong></h3>
                <div>
                    <select multiple>
                        <option class="list-group-item" ng-click="getAllTowns()">All towns</option>
                        <option class="list-group-item" ng-repeat="t in towns" ng-click="getTownId(t.id)">{{ t.name }}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="pull-right">
            <hr />
            <strong>Pages: </strong>
            <div class="btn-group">
                <a href="" ng-click="showPage($index+1)" class="btn btn-default" ng-repeat="i in getNumber(allAds.numPages) track by $index">{{ $index+1 }}</a>
            </div>
        </div>
    </div>
</div>