<div ng-click="closeMessage()" ng-show="successMessage" class="alert alert-dismissable alert-success text-center">
    {{ successMessage }}
</div>
<div class="row">
    <div class="col-md-9" >
        <div class="row">
            <div class="col-lg-12" ng-repeat="ad in userAds.ads">
                <hr />
                <h3><strong>{{ ad.title }}</strong><span class="pull-right">{{ ad.date | date}}</span></h3>
                <div class="col-md-3">
                    <img class="img-thumbnail pull-left" fallback-src="images/no_image.gif" src="{{ ad.imageDataUrl }}">
                </div>
                <div class="col-md-5">
                    {{ ad.text }}
                </div>
                <div class="col-md-4">
                    <ul class="list-group">
                        <li class="list-group-item">
                            <strong>Status: </strong> <span class="pull-right color-red">{{ ad.status }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Category: </strong> <span class="pull-right">{{ ad.categoryName }}</span>
                        </li>
                        <li class="list-group-item">
                            <strong>Town: </strong> <span class="pull-right">{{ ad.townName }}</span>
                        </li>
                    </ul>
                    <div>
                        <div class="pull-right">
                            <a ng-show="adStatusButtons(ad)" href="#" class="btn btn-warning btn-xs">Deactivate</a>
                            <a ng-show="!adStatusButtons(ad)" href="#" class="btn btn-warning btn-xs">Edit</a>
                            <a ng-show="!adStatusButtons(ad)" href="#" class="btn btn-warning btn-xs">Publish Again</a>
                            <a ng-show="!adStatusButtons(ad)" href="#" class="btn btn-danger btn-xs">Delete</a>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="pull-right">
                    <hr />
                    <strong>Pages: </strong>
                    <div class="btn-group">
                        <a href="" ng-click="getPageNumber($index+1)" class="btn btn-default" ng-repeat="i in getNumber(userAds.numPages) track by $index">{{ $index+1 }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div>
            <div class="list-group">
                <h3 class="text-center"><strong>My Ads</strong></h3>
                <div>
                    <select multiple>
                        <option class="list-group-item" ng-click="getAdByStatus('')">All</option>
                        <option class="list-group-item" ng-click="getAdByStatus('Published')">Published</option>
                        <option class="list-group-item" ng-click="getAdByStatus('WaitingApproval')">Waiting Approval</option>
                        <option class="list-group-item" ng-click="getAdByStatus('Inactive')">Inactive</option>
                        <option class="list-group-item" ng-click="getAdByStatus('Rejected')">Rejected</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>